pandas
omegaconf
einops
lpips
timm==0.9.16
pre-commit
ipykernel
pycocotools
PyWavelets
pyav==13.0.0
scikit-image
pytorch_msssim
tensorboard
calflops
transformers
safetensors
opencv-python
tqdm
scipy
ffmpeg-python
